p {
  color: white;
}

.port {
  color: black;
  text-decoration: none;
}

.name {
  color: white;
  font-size: 150%;
  background-color: unset;
}

h1 {
  color: black;
  background-color: lightblue;
  display: inline;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-left: 0px;
}

h2 {
  color: yellow;
}

h3 {
  margin-left: 20px;
  color: white;
}

.bg {
  background-color: #333333;
}

.link {
  color: white;
  text-decoration: none;
}

.back {
  background-color: yellow;
  display: inline;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 150%;
  border: 1px solid red;
  padding-inline: 10px;
}

.img1 {
  width: 100%;
  max-width: 1000px;
}

.img2 {
  margin-left: 20px;
  width: 100%;
  max-width: 1000px;
}

.img3 {
  margin: 20px;
  width: 50%;
  max-width: 400px;
  min-width: 200px;
}

.code {
  width: fit-content;
  background-color: aliceblue;
  margin-left: 20px;
  color: black;
  font-size: 1vmin;
}

.code2 {
  width: fit-content;
  background-color: aliceblue;
  margin-left: 20px;
  color: black;
  font-size: 1vmax;
}
